@import url('https://fonts.googleapis.com/css?family=Merienda+One|Walter+Turncoat|Doppio+One');
*{
	 padding: 0px;
	 margin: 0px;
	 box-sizing: border-box;
	}
p{
	font-family: 'Doppie One', sans-serif;
}
body{
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/backgrounds/homepage.jpg);
	background-size: cover;
}
	.nav{
	 background: black;
	 height: 70px;
	 display: flex;
	 flex-wrap:wrap;
	 align-items: center;
	}
	.nav-title a{
		text-decoration: none;
		color:#1995DD;
		 background: black;
	}

	.nav-title {

	font-family: 'Merienda One', cursive;
	 width: 30%;
	 padding: 12px 40px;
	 text-align: center;
	 text-shadow: 1px 1px 2px white;
	}
.nav-title a:hover{
	color:white;
	text-decoration: overline;
	text-decoration-color: yellow;
}

	.nav-menu{
	 width: 70%;
	}

	.nav-menu ul{
	 display: flex;
	 justify-content: flex-end;
	}

	.nav-menu ul a{
		font-family: 'Walter Turncoat', cursive;
	 padding: 10px 20px;
	 color: #ccc;
	 font-size: 24px;
	 list-style-type: none;
	 cursor: pointer;
	 	 text-decoration: none;
		 color:#F4F6F6;
	}

	.nav-menu ul a:hover{
	 color:#959C8F ;
	 font-weight: bold;
	 text-decoration: line-through;
 	text-decoration-color: black  ;
	}
.nav-menu .active{
	color:yellow;
	text-shadow: 1px 1px 1px black;
}
	 /*style for responsive menu*/

	 @media screen and (max-width:1000px){
		 .nav{
			 height: auto;
		 }
		 .nav .nav-title{
			 text-align: left;
			 width: 100%;
		 }

		 .nav .nav-menu{
			 width: 100%;
		 }
		 .nav .nav-menu ul{
			 justify-content: space-around;
		 }

		 .nav .nav-menu ul a{
			 width: 20%;
			 padding: 10px 0px;
			 text-align: center;
			 font-size: 16px;
		 }

		img{
		width: 100px;
      	animation: ani 2s linear;
    }
	 }

#container{
	display:block;
	width:1200px;
	margin: 0 auto;
}
#container #slider
{
	margin-top:10px;
}

/*IMAGE SLIDER */

#slider {
      height: 100%;
      margin: 20px auto;
      box-sizing: border-box;
      overflow: hidden;
      box-shadow: 5px 5px 10px grey;

    }

    img {
		width: 1200px;
    animation: ani 2s linear;
		height:400px;
    }

    @keyframes ani {
      0% {
        transform: scale(1.2);
      }
      10% {
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
    }
		.container {
  display: grid;
  width: 100%;
  height: 230%;
  grid-template-areas: "History Quotes Quotes"
  "Instruments Quotes Quotes"
	"Fashion Quotes Quotes";
  grid-template-columns: 500px 1fr 1fr;
  grid-template-rows: 385px 360px 400px;
}
.container > div {
	padding: 7px;
}
.container h1{
	color:yellow;
}
.container p{
	letter-spacing: 1.2px;
	color:silver;
	text-shadow:1px 1px 1px black;
}
.container img{
	width: 250px;
	height: 200px;
	border-radius: 50%;
}
.History {
  grid-area: History;
}
.Quotes {
  grid-area: Quotes;
}
.Instruments {
  grid-area: Instruments;
}
#concert h1,#concert h2{
	padding:10px;
	color:yellow;
	text-decoration: underline;
	padding-bottom: 5px;
}
.one{
float:left;
margin-right:100px;
}
.three{
float:left;
margin-right:100px;	
}
